files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID7zCCAtcCFBnNXalVXjG1hU928mNRIc2pZreeMA0GCSqGSIb3DQEBCwUAMIGz
      MQswCQYDVQQGEwJWTjESMBAGA1UECAwJdGhhbmd0b255MQswCQYDVQQHDAJITjEM
      MAoGA1UECgwDQ01DMRQwEgYDVQQLDAtDTUMgdGVsZWNvbTE0MDIGA1UEAwwrdG9v
      bGFvZS5hcC1zb3V0aGVhc3QtMS5lbGFzdGljYmVhbnN0YWxrLmNvbTEpMCcGCSqG
      SIb3DQEJARYadGhhbmdsb3ZlbXVzaWM5NEBnbWFpbC5jb20wHhcNMjMwNjA3MjEy
      MTUwWhcNMjQwNjA2MjEyMTUwWjCBszELMAkGA1UEBhMCVk4xEjAQBgNVBAgMCXRo
      YW5ndG9ueTELMAkGA1UEBwwCSE4xDDAKBgNVBAoMA0NNQzEUMBIGA1UECwwLQ01D
      IHRlbGVjb20xNDAyBgNVBAMMK3Rvb2xhb2UuYXAtc291dGhlYXN0LTEuZWxhc3Rp
      Y2JlYW5zdGFsay5jb20xKTAnBgkqhkiG9w0BCQEWGnRoYW5nbG92ZW11c2ljOTRA
      Z21haWwuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA49Ac9DsU
      TxMwklceeil3jVUuJ8yNF8G0iw7Mj+BFeeRUB1o/7EiZpp45MI5bnIi6+GVAC+Ar
      J3vkpx+uYPaeR7h5MCK2RMb/HrM5IjnYwaqv4sqKsMPg/WqFz7uyTAylIcBOc2AH
      Ni+3e2wwp0blZcRhBAreCYirFue9GhXCMzN+3lLnxFuJd1mTUiXk01C9C2IdKB0x
      42tiXJttvHs1/jnxPtc0r95DvWM69XRoAobms1c02w43/sftsJm/OoyHZzi7Luje
      C+t4XpdctW1vruWT/oeaR0S2UCE4whUmzHOdYf4LxxYog+Gx3qwEnT8nnqIO9jks
      Ys0Eknt2t/7zjwIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQCn1kNzTaroEHpryshE
      uwoxGkHwLi6Zhug8NBuaLmk6GI3+WTYUk1k8OQoDeo9skO+pByH5ljDyf130320W
      XluJceGSbJ2PVjvRVY/cq1yeccIPrYl2fn0GybK/bQ/xbiVwzqB2J9hpcaxGCyrs
      +owXM634U/I6yoLNU7VQ/N1qHIS50MJgKgAT9gksDlE6qj3lO+xQxG33pf+36hRa
      IzIllOBjm86xs3Lz8NJDsOpOw2CC1/JgeFjRXWTlW+vSJgh45isZzF4MAUtp77E2
      Jv0DlJPbsi3B8p8rTN6I6PUul3/dJFKX0kAZiRBnmQaHJ9yigqsxErahPPjcEvt8
      fRQD
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEA49Ac9DsUTxMwklceeil3jVUuJ8yNF8G0iw7Mj+BFeeRUB1o/
      7EiZpp45MI5bnIi6+GVAC+ArJ3vkpx+uYPaeR7h5MCK2RMb/HrM5IjnYwaqv4sqK
      sMPg/WqFz7uyTAylIcBOc2AHNi+3e2wwp0blZcRhBAreCYirFue9GhXCMzN+3lLn
      xFuJd1mTUiXk01C9C2IdKB0x42tiXJttvHs1/jnxPtc0r95DvWM69XRoAobms1c0
      2w43/sftsJm/OoyHZzi7LujeC+t4XpdctW1vruWT/oeaR0S2UCE4whUmzHOdYf4L
      xxYog+Gx3qwEnT8nnqIO9jksYs0Eknt2t/7zjwIDAQABAoIBAQDUDyx0l+4OsZE8
      F8Zx9tmngQwG1hzcaV6zNuJqZ1yk20rw0SzBuM72T0BzF4DllE1e3Xkh1Ni211f/
      zbjX35l0r553lUhPe2GN5U0gs/I2TLmPBfTWGG/91UOcHF8a9YZdhZJBSblM0lwc
      kpgzjgYJliSsy6TmAQcpuivH9UshtmMcLNm6jMNcxVtefhfNvf+FNCy1zXC60PdF
      Y1GzD4H/c+eZUvvYGLmlv4BENYlnrYp+WogdBm9Z2it7guPCC1ck+xpulIslHMuE
      YhNKJi+j/1ykRPxde/SwltOMcqyNNG3M+FSP4XD8GDO2E8ke8UIgLyTOgJWp+Fja
      T9D7KeeBAoGBAPOMMo/JpWPiq4Pkn9Lti5wqXww2Xqbq4dA63Vg8OoXS71Lml34J
      sWKImId5N52MqFsJ3s6FVMM0sUEDALgoyV2rAu1pKjn3bkz3+fQtRB3MTMpCn/zn
      L/ZMf+XfOIHs/Q9v5q2ymNuA/r6EaA//UFi2gMcfQqONr+7sGuHQk17PAoGBAO91
      9qyOPuT/DQYQ+7bPyTopSZdDFhTMvsn2jy9WJCPUb23O91VqHlpZdYkbeEawZ6HQ
      qycpBsontSMAIWvcyXCk7GYnEkWNyztq7AzAgREmq6KuC7FKEutxxCDBToVosoMl
      jy4jxcxKErXbkyHHi/ZXqygmb8NQp6h4UbiXDk9BAoGBAKNDX32uYnXENNAUyeMf
      JNDKQq8wH2Fr4Xayj0EgFucxEQgU1odCPixcf0uJwfOWoCFvS3JMRRca0pxPRAMw
      LFTjV/II5qq3KLTmIyRB2ADVvMB1y0RBQpCslaxmaD4IvVfE3vGf4QJ8xci3f/8B
      Wz4tEcTqOsTjLYZPtnGcXb5XAoGBAMvboEncu1yWaY79jF1g3c3e8mCM41KHz/D+
      L328Fv5NzyMrrFKSCg8e07oKocWETmVq0RqAieA2F7YZWVqLVw7HyN1aa+q8wQTv
      jM96XyarxjizdQ7UofDBJJhCGUfoDvkpU5CTMcQuV2ls6gA68kOg9Pw0ZLdhhaod
      7Gx6ZNtBAoGAbF9tgZ96DNkEwdZl49F6c5ddLpZiQHrpH7plyfsO4AF6QNoDDOaa
      d+SZm+74EoIneYqDZGD3fct8FBaS8ocOnWB/7Rsy1ZgrScLTh4KDA0mmikKZuFnZ
      u+y9poOxPsi0FuBuFSYiYvvPAQyuwdPIWR1i5CXx3gPc6tIzaXUn9SM=
      -----END RSA PRIVATE KEY-----


container_commands:
  01restart_nginx:
    command: "service nginx restart"